# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse project files
*.cproject
*.project

# Files built by the configure script
/Makefile
/src/Makefile
/config.log
/src/common/Makefile
/src/common/config.hpp
/src/progs/Makefile
/config.status

# Executables and directories made during 
# building or testing 
/bin/
/src/progs/radx
/src/test/test_design
/src/test/test_loglikratio_test
/src/test/test_pipeline
/src/test/test_regression
/src/test/test_table_row
